<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: rgba(144, 156, 248, 0.70);">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home">
                    <img src="~/Imagens/logo_AgenciaViagens.png" id="imgHome" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Clientes</a></li>
                            <li><a href="#">Pacotes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Funcionário</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Pacotes <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Agenda</a></li>*@
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="~/Home/Login" class="glyphicon glyphicon-log-in">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="page-footer font-small blue pt-4" style="background-color: rgba(144, 156, 248, 0.70);">
        <div class="container-fluid text-center text-md-left">

            <!-- Grid column -->

            <div class="col-md-12">
                <center>
                    <h3 class="text-uppercase col-md-12"><b> REDES SOCIAIS </b></h3>

                    <ul class="list-unstyled col-md-12">
                        <li id="imagensRodape" class="fa fa-facebook-square">
                            <a href="#!"><h5> FACEBOOK </h5></a>
                        </li>
                        <br />
                        <li id="imagensRodape" class="fa fa-linkedin-square">
                            <a href="#!"><h5> LINKEDIN </h5></a>
                        </li>
                    </ul>
                </center>
            </div>

            <!-- Grid column -->
            <!-- Grid column -->
            @*<div class="col-md-3 mb-md-0 mb-3">

                 Links
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>*@

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>